<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <main>
  {% include header.html %}
  <h1>Contact Us</h1>

  <form name="CONTACT FORM" netlify action="/thank-you">
     <div style="display:none;">
      <label for="honeypot">Do not fill this out:</label>
      <input type="text" id="honeypot" name="honeypot">
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="whatsapp">Whatsapp no.:</label>
      <input type="text" id="whatsapp" name="whatsapp" inputmode="numeric" pattern="\d{10}" title="Please enter a valid 10-digit number">
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" required inputmode="numeric" pattern="\d{10}" title="Please enter a valid 10-digit number">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
    </div>
    <div>
      <button type="submit">Send</button>
    </div>
  </form>



  {% include footer.html %}
  </main>
</body>
</html>
