<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <main>
  {% include header.html %}
  <h1>Contact Us</h1>
  <form name="contact" method="POST" data-netlify="true" action="/thank-you">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
    </div>
    <div>
      <button type="submit">Send</button>
    </div>
  </form>

  {% include footer.html %}
  </main>
</body>
</html>
