<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <main>
        {% include header.html %}
        <h1>{{ page.title }}</h1>
        <img src="{{ page.image }}" alt="{{ page.title }}">
<!--         <p>{{ page.description }}</p> -->

        {% if page.description %}
        <div class="product-description">
                {{ page.description | markdownify }}
            </div>
        {% endif %}
        {% if page.gallery %}
            <div class="product-gallery">
                {% for item in page.gallery %}
                    <img src="{{ item.image }}" alt="{{ page.title }}" />
                {% endfor %}
            </div>
        {% endif %}
        <p><strong>Price:</strong> {{ page.price }}</p>
        {% for month, available in page.months %}
          {% if available %}
            <p>{{ month }} is available.</p>
          {% endif %}
        {% endfor %}
        <a href="/products/">Back to Product List</a>
        {% include footer.html %}
    </main>
</body>

</html>
