<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <main>
  {% include header.html %}
  <h1>All Products</h1>

<div class="filter">
  <label for="month-filter">Month</label>
  <select id="month-filter">
    <option value="all">All</option>
    {% assign month_names = "January,February,March,April,May,June,July,August,September,October,November,December"}

      {% for i in (0..11) %}
       
          <option value="{{ month_names[i] | downcase }}">{{ month_names[i] }}</option>
       
      {% endfor %}
    
  </select>
</div>



      
  <div class="product-list">
    {% for product in site.products %}
    <div class="product-item">
        <a href="{{ product.url }}">
          <img src="{{ product.image }}" alt="{{ product.title }}">
          <h3>{{ product.title }}</h3>
          <p>{{ product.price }}</p>
        </a>
    </div>
    {% endfor %}
</div>
  {% include footer.html %}
  </main>
</body>
</html>
