<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <main>
        {% include header.html %}
        <h1>{{ page.title }}</h1>
        <img src="{{ page.image }}" alt="{{ page.title }}">
        {% if page.description %}
        <div class="product-description">
                {{ page.description | markdownify }}
            </div>
        {% endif %}
        {% if page.gallery %}
            <div class="product-gallery">
                {% for item in page.gallery %}
                    <img src="{{ item.image }}" alt="{{ page.title }}" />
                {% endfor %}
            </div>
        {% endif %}
        <p><strong>Price:</strong> {{ page.price }}</p>

<!--       {% if page.availability %}
          <div class="available-months">
            <strong>Available Months:</strong>
            <ul>
              {% for item in page.availability %}
                {% assign month = item[0] %} 
                {% assign availability = item[1] %} 
                {% if availability == true %}
                  <li>{{ month | capitalize }}</li> 
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %} 
 -->


        <div class="product-list">
              {% for product in site.products %}
                <div class="product-item" 
                     data-availability="{% for item in product.availability %}
                                          {% assign month = item[0] %}
                                          {% assign availability = item[1] %}
                                          {% if availability == true %}
                                            {{ month | downcase }},
                                          {% endif %}
                                        {% endfor %}">
                  <img src="{{ product.image }}" alt="{{ product.title }}">
                  <h3>{{ product.title }}</h3>
                  <p>Price: ${{ product.price }}</p>
                  <p>Rating: {{ product.rating }} / 5</p>
                  <a href="{{ product.url }}">View Details</a>
                </div>
              {% endfor %}
            </div>


        
        <a href="/products/">Back to Product List</a>
        {% include footer.html %}
    </main>
</body>

</html>
